@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
html,body{
  overflow-x: hidden !important;
}
body{
  background-color: #F2EEEE;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

